/* Colors */

$white: #FFFFFF;
$black: #000000;
$grey: #CCC;
$green: #bff073;
$blue: #0dc9f7;
$darkgrey: #7f7f7f;
$lightred: #f05b47;
$red: #ed1c24;

/* Fonts */
$font-weight-regular: 300;
$font-weight-light: 400;
$font-weight-bold: 600;
