/* Global vars for colors, type face etc */


/* Colors */

$brown: #5e412f;
$blue: #78c0a8;
$sand: #fcebb6;
$orange: #f07818;
$yellow: #f0a830;
$black: #000000;
$white: #FFFFFF;
$grey: #CCC;



/*Font sizes etc.. */

$font-weight-regular: 300;
$font-weight-light: 400;
$font-weight-bold: 600;


$font-family: 'Open Sans', sans-serif;
$font: normal 16px/18px $font-family;
